<%= turbo_frame_tag :remote_modal, target: :_top do %>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="bs-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Contact Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= form_with model: current_user, url: update_user_contact_details_path, method: :patch do |form| %>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <%= form.label :contact_number, class: "mb-3 mt-3" %>
                        <%= form.text_field :contact_number, class: "form-control", value: current_user.contact_number %>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group row">
                        <%= form.label :alternate_contact_number, class: "mb-3 mt-3" %>
                        <%= form.text_field :alternate_contact_number, class: "form-control", value: current_user.alternate_contact_number %>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group row">
                        <%= form.label :social_media_id, class: "mb-3 mt-3" %>
                        <%= form.text_field :social_media_id, class: "form-control", value: current_user.social_media_id %>
                    </div>
                </div>
                

            
            </div>
        </div>
        <div class="modal-footer">
            <%= form.submit 'Save Changes', class: "btn btn-danger", data: { action: 'click->bs-modal#submitEnd' } %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        <% end %>
        </div>
    </div>
    </div>
<% end %>

