<div id="contact-details">
    <div class="card-body pb-2">
        <div>
          <p><strong>Contact Number:</strong> <%= user.contact_number %></P>
          <p><strong>Alternate Contact Number:</strong> <%= user.alternate_contact_number %></P>
          <p><strong>Email:</strong> <%= user.email %></P>
          <p><strong>Social media Id:</strong> <%= user.social_media_id %></P>

        </div>
        
        <% if user_signed_in? && user == current_user %>
          <div class="text-right mt-3">
            <%= link_to edit_user_contact_details_path, data: { controller: "edit-user-contact-detail" } do %>
              <button type="button" class="btn btn-danger">Edit</button>
            <% end %>
          </div>
        <% end %>
    </div>
</div>

<!--
<h6 class="mb-4">Contacts</h6>
        <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" value="+0 (123) 456 7891">
        </div>
        <div class="form-group">
            <label class="form-label">Website</label>
            <input type="text" class="form-control" value>
        </div>-->