<body>
 
  <div class="poster">
  </div>

  <section id="our-service" class="common-padding text-center relative">
    <div class="box">
      <div class="ro">
        <div class="col-md-12 relative text-center">
          <h2 class="heading">Our Services</h2>
          <h6 class="punch-line">Matrimony packages which are diligently crafted to suit individual needs.</h6>
        </div>
      </div>
    </div>
    <div class="row d-flex mt-40 ms-4 me-4">
      <div class="col-md-4 ">
        <div class="packages-box">
          <img src="/assets/clarinet.svg" class="sahnai">
          <h3 class="font">Matchmaking Services</h3>
          <div class="header-border"></div>
          <p>It is our basic package with affordability as its main essence. This Package meets both objectives -
            Economy & Quality of Service. Our clients also get the facility of value added services like exclusive
            Meeting Lounges, etc. </p>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="packages-box">
          <img src="/assets/clarinet.svg" class="sahnai">
          <h3 class="font">Messaging and Communication</h3>
          <div class="header-border"></div>
          <p>It is our basic package with affordability as its main essence. This Package meets both objectives -
            Economy & Quality of Service. Our clients also get the facility of value added services like exclusive
            Meeting Lounges, etc. </p>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="packages-box">
          <img src="/assets/clarinet.svg" class="sahnai">
          <h3 class="font">Event Services</h3>
          <div class="header-border"></div>
          <p>It is our basic package with affordability as its main essence. This Package meets both objectives -
            Economy & Quality of Service. Our clients also get the facility of value added services like exclusive
            Meeting Lounges, etc. </p>
        </div>
      </div>
    </div>
    <div class="png-1"><img src="/assets/services-bg-1.png"></div>
  </section>

  <section class="find common-padding text-center relative">
    <div class="box">
      <div class="ro">
        <div class="col-md-12 relative text-center">
          <h2 class="topic">💞Choose Partner of yours choice💞</h2>
          <h3>Just only in few steps</h3>
        </div>
      </div>
    </div>
    <div class="row mt-40 ms-4 me-4">
  <% if user_signed_in? %>
    <!-- User is signed in, show Browse and Connect -->
    <div class="col-md-6 text-center">
      <a class="browse" href=""></a><br>
      <div class="feature">
        <strong><a id="sign_up_link" class="" href="">Browse &amp; Choose</a></strong>
        <div>View Profiles</div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <a class="connect" href=""></a><br>
      <div class="feature">
        <strong><a id="sign_up_link" class="" href="">Connect &amp; Interact</a></strong>
        <div>Connect to your choice</div>
      </div>
    </div>
  <% else %>
    <!-- User is not signed in, show Register, Browse, and Connect -->
    <div class="col-md-4 text-center">
      <a class="register" href="/users/sign_up"></a>
      <br>
      <div class="feature">
        <strong><a id="sign_up_link" class="" href="/users/sign_up">Register</a></strong>
        <div>Register for free &amp; make your Matrimony Profile</div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <a class="browse" href=""></a><br>
      <div class="feature">
        <strong><a id="sign_up_link" class="" href="">Browse &amp; Choose</a></strong>
        <div>View Profiles</div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <a class="connect" href=""></a><br>
      <div class="feature">
        <strong><a id="sign_up_link" class="" href="">Connect &amp; Interact</a></strong>
        <div>Connect to your choice</div>
      </div>
    </div>
  <% end %>
</div>

  </section>

  <section class="why common-padding  relative">
    <div class="row ms-4 me-4">
      <div class="col-sm-7">
        <div class="kyu text-center text-decoration-underline">𝒲𝒽𝓎 𝒞𝒽𝑜𝑜𝓈𝑒 𝐵𝑒𝓈𝓉𝑅𝒾𝓈𝒽𝓉𝑒𝓎</div><br>
        <ul class="mt-4">
          <li>➤ &nbsp; Trust and Credibility</li><br>
          <li>➤ &nbsp; Advanced Matchmaking Algorithms</li><br>
          <li>➤ &nbsp; User-Friendly Interface</li><br>
          <li>➤ &nbsp; Mobile Accessibility</li><br>
          <li>➤ &nbsp; Privacy and Safety </li><br>
          <li>&nbsp; &nbsp; &nbsp; &amp; many more.</li>
        </ul>
      </div>
      <div class="col-sm-5 ">
        <img src="/assets/verticle.jpg" class="img-fluid">
      </div>
    </div>
    <div class="png-1"><img src="/assets/services-bg-1.png"></div>
  </section> 

  <section class="dummy common-padding  relative">
    <div class="box">
      <div class="ro">
        <div class="col-md-12 relative text-center">
          <h2 class="profile">Profiles Overview</h2>
          <h6 class="punch-line">Here are some dummy profile to see before Sign_up.</h6>
        </div>
      </div>
    </div>
    <% if user_signed_in?%>
     <div class="row ms-4 me-4 mt-5 ">
       <% @users.each do |user| %>
        <div class="col-lg-5 text-center">
         <% if user.avatar.present? %>
           <%= image_tag(user.avatar, class: "imag") %>
         <% else %>
             <%= image_tag("/assets/dummy profile.jpg", class: "imag") %>
          <% end %>
          <h2 class="mt-4 "><%= user.first_name %> <%= user.last_name %>(<%= user.age %>)</h2>
          <h4 class="mt-1"><%= user.city %>, <%= user.country %></h4>
        </div>
       <div class="col-lg-7">
          <div class="row">
            <div class="col-md-4">
             <strong>Profile PortFolio</strong><br>
               <ul>
                 <li><b>UniqueId:</b> <%= user.unique_id %></li>
                 <li><b>DOB:</b> <%= user.dob %></li>
                 <li><b>Religion:</b> <%= user.religion %></li>
                 <li><b>Caste:</b> <%= user.cast %></li>
                 <li><b>Gotra:</b> <%= user.gotra %></li>
                 <li><b>Height:</b> <%= user.height %></li>
               </ul>
            </div>
            <div class="col-md-4">
              <strong>Overview</strong><br>
              <ul>
                 <li><b>Highest Qualification:</b> <%= user.highest_qualification %></li>
                 <li><b>Job Profile:</b> <%= user.job_designation %></li>
                 <li><b>Annual Income:</b> <%= user.job_packages %></li>
                 <li><b>Mother Tongue:</b> <%= user.mother_tongue %></li>
                 <li><b>Dietary Habits:</b> <%= user.dietary_habit %></li>
                 <li><b>Email:</b> <%= user.email %></li>
              </ul>
            </div>
            <div class="col-md-4">
              <strong>Family</strong><br>
              <ul>
               <li><b>Father:</b> <%= user.father_name %></li>
               <li><b>Mother:</b> <%= user.mother_name %></li>
               <li><b>Siblings:</b> <%= user.siblings %></li>
               <li><b>Family lives in:</b> <%= user.family_lives_in %></li>
               <li><b>Family Type:</b> <%= user.family_type %></li>
                <a href="#" class="know-more-button">Know More</a>
              </ul>
            </div>
         </div>
       </div><hr>
      <%end%>
      <%= paginate @users %>
     </div>
    <% else %>
     <div class="row ms-4 me-4 mt-5 ">
      <div class="col-lg-5 text-center">
        <img src="/assets/man.jpg" class="imag">
        <h2 class="mt-4 ">Sahil Shakya(26)</h2>
        <h4 class="mt-1">Delhi, India</h4>

      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-4">
            <strong>Profile PortFolio</strong><br>
            <ul>
              <li><b>id:-</b>&nbsp; </li>
              <li><b>DOB:-</b>&nbsp; </li>
              <li><b>Religion:-</b>&nbsp; </li>
              <li><b>Caste:-</b>&nbsp; </li>
              <li><b>Gotra:-</b>&nbsp; </li>
              <li><b>Height:-</b>&nbsp; </li>
              <li><b>Body Type:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Overview</strong><br>
            <ul>
              <li><b>Highest Degree:-</b>&nbsp; </li>
              <li><b>Job Profile:-</b>&nbsp; </li>
              <li><b>Annual Income:-</b>&nbsp; </li>
              <li><b>Personality:-</b>&nbsp; </li>
              <li><b>Mother Tongue:-</b>&nbsp; </li>
              <li><b>Dietary Habits:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Family</strong><br>
            <ul>
              <li><b>Father:-</b>&nbsp; </li>
              <li><b>Mother:-</b>&nbsp; </li>
              <li><b>Siblings:-</b>&nbsp; </li>
              <li><b>Family lives in:-</b>&nbsp; </li>
              <li><b>Family Type:-</b>&nbsp; </li>
              <a href="#" class="know-more-button">Know More</a>
            </ul>
          </div>
        </div>
      </div>
      
     </div><hr>
      <div class="row ms-4 me-4 mt-5 ">
      <div class="col-lg-5 text-center">
        <img src="/assets/women2.jpg" class="imag">
        <h2 class="mt-4">Aisha(25)</h2>
        <h4 class="mt-1">Lucknow, U.P. India</h4>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-4">
            <strong>Profile PortFolio</strong><br>
            <ul>
              <li><b>id:-</b>&nbsp; </li>
              <li><b>DOB:-</b>&nbsp; </li>
              <li><b>Religion:-</b>&nbsp; </li>
              <li><b>Caste:-</b>&nbsp; </li>
              <li><b>Gotra:-</b>&nbsp; </li>
              <li><b>Height:-</b>&nbsp; </li>
              <li><b>Body Type:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Overview</strong><br>
            <ul>
              <li><b>Highest Degree:-</b>&nbsp; </li>
              <li><b>Job Profile:-</b>&nbsp; </li>
              <li><b>Annual Income:-</b>&nbsp; </li>
              <li><b>Personality:-</b>&nbsp; </li>
              <li><b>Mother Tongue:-</b>&nbsp; </li>
              <li><b>Dietary Habits:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Family</strong><br>
            <ul>
              <li><b>Father:-</b>&nbsp; </li>
              <li><b>Mother:-</b>&nbsp; </li>
              <li><b>Siblings:-</b>&nbsp; </li>
              <li><b>Family lives in:-</b>&nbsp; </li>
              <li><b>Family Type:-</b>&nbsp; </li>
              <a href="#" class="know-more-button">Know More</a>
            </ul>
          </div>
        </div>
      </div>

     </div><hr>
       <div class="row ms-4 me-4 mt-5 ">
      <div class="col-lg-5 text-center">
        <img src="/assets/women1.jpg" class="imag">
        <h2 class="mt-4">Muskan(23)</h2>
        <h4 class="mt-1">Hyderabad, India</h4>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-4">
            <strong>Profile PortFolio</strong><br>
            <ul>
              <li><b>id:-</b>&nbsp; </li>
              <li><b>DOB:-</b>&nbsp; </li>
              <li><b>Religion:-</b>&nbsp; </li>
              <li><b>Caste:-</b>&nbsp; </li>
              <li><b>Gotra:-</b>&nbsp; </li>
              <li><b>Height:-</b>&nbsp; </li>
              <li><b>Body Type:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Overview</strong><br>
            <ul>
              <li><b>Highest Degree:-</b>&nbsp; </li>
              <li><b>Job Profile:-</b>&nbsp; </li>
              <li><b>Annual Income:-</b>&nbsp; </li>
              <li><b>Personality:-</b>&nbsp; </li>
              <li><b>Mother Tongue:-</b>&nbsp; </li>
              <li><b>Dietary Habits:-</b>&nbsp; </li>
            </ul>
          </div>
          <div class="col-md-4">
            <strong>Family</strong><br>
            <ul>
              <li><b>Father:-</b>&nbsp; </li>
              <li><b>Mother:-</b>&nbsp; </li>
              <li><b>Siblings:-</b>&nbsp; </li>
              <li><b>Family lives in:-</b>&nbsp; </li>
              <li><b>Family Type:-</b>&nbsp; </li>
              <a href="#" class="know-more-button">Know More</a>
            </ul>
          </div>
        </div>
      </div>
      
     </div>
    <%end%>
  </section>

  <section class="story common-padding text-center relative">
    <div class="box">
      <div class="ro">
        <div class="col-md-12 relative text-center">
          <h2 class="success">Our Success Stories</h2>
          <h6 class="punch-line">Below are the stories from the mouth of some of our happily married couple.</h6>
          <div class="gif">
            <img src="/assets/flowers.gif" class="flower">
          </div>
        </div>
      </div>
    </div>

    <div class="fluid-container mt-5">
      <div class="container">
          <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner carousel-inner2">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-md-4 equal-height">
                              <div class="card caard ">
                                  <img src="/assets/South-Indian-wedding-photography-14.jpg" alt="Card 1">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Ajeet &amp; Jaya</h5>
                                      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus obcaecati aperiam libero officia harum vero alias odio nihil, itaque laudantium dicta laboriosam soluta quod nisi quaerat doloremque explicabo repellat id.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 equal-height">
                              <div class="card caard">
                                  <img src="/assets/aa6b414fc1cebf82b8cd7f4a8972a30a.jpg" alt="Card 2">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Raunak &amp; Ankita</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque molestiae similique distinctio. Tempora repudiandae nostrum ab! Numquam provident explicabo non est cumque, laboriosam aut facere atque expedita saepe, amet quaerat.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 equal-height">
                              <div class="card caard">
                                  <img src="/assets/7a335573f9cb26b03c0cbebdd7c45e9c.png" alt="Card 3">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Yuvraj &amp; Suhashini</h5>
                                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque dolore sunt, eum vitae molestias odit hic? Facilis blanditiis, ipsam iste placeat maiores sunt natus nesciunt, deserunt dolor dolores tempora quam!</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="card caard">
                                  <img src="/assets/a8f471519b0cfce12b47159086cd3457.jpg" alt="Card 4">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Shashvat &amp; Pallavi</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe illum cum eos eveniet nam. Recusandae aliquid, rem in ducimus optio dignissimos delectus aperiam, id error, laborum porro exercitationem fuga sapiente!</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card caard">
                                  <img src="/assets/1535303839A36I8979-Edit.jpg" alt="Card 5">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Abhishek &amp; Shreya</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsam non nemo unde nobis architecto hic, earum est delectus facilis fuga animi exercitationem sapiente beatae veritatis eius repellendus. Blanditiis, nihil!</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="card caard">
                                  <img src="/assets/0e5e9769908d8f00c9a79f2de9c92049.jpg" alt="Card 6">
                                  <div class="card-body">
                                      <h5 class="card-title ct">Sahil &amp; Muskan </h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ex quam iusto soluta quas quae? Illo numquam aperiam saepe iusto! Illum corrupti sit quia veniam ut quaerat! Vitae, facilis assumenda?</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card caard">
                                <img src="/assets/p2332282348-6.jpg" alt="Card 4">
                                <div class="card-body">
                                    <h5 class="card-title ct">Aadil & Maahi</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi libero illo in harum sapiente laborum, quos dolore accusamus consectetur repudiandae magnam nulla aut dolores ea quis aliquid sit labore impedit!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card caard">
                                <img src="/assets/positively-elegant-gatsby-inspired-wedding-at-the-stanley-park-pavilion-12-600x900-600x900.jpg" alt="Card 5">
                                <div class="card-body">
                                    <h5 class="card-title ct">John & Carolina</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quod rem molestiae consequuntur aut unde delectus voluptas aspernatur architecto, deleniti molestias autem quisquam laborum rerum aliquid at libero? Asperiores, molestias.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card caard">
                                <img src="/assets/samantha-gades-7JUDLPlA114-unsplash.jpg" alt="Card 6">
                                <div class="card-body">
                                    <h5 class="card-title ct">Zeyn &amp; Lyra</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora temporibus nesciunt unde assumenda deleniti doloremque. Praesentium odio neque reprehenderit harum assumenda placeat, possimus quibusdam, veniam sequi, veritatis quasi obcaecati consequuntur?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </a>
          </div>
      </div>
  </div>
<% if !user_signed_in? %>
    <a href="/users/sign_up" class="know-more-button mt-5">Sign Up</a>
<% end %>
 <span class="ms-3">here to make your story.</span>

  <!-- <div class="png-2"><img src="/assets/services-bg-2.png"></div> -->
  </section>

  <!-- <section class="your common-padding text-center relative">
    <a href="#" class="know-more-button">Sign Up</a><span class="ms-3">here to make your story.</span> 
  </section> -->

  <section class="end common-padding text-center relative">
    <span>
       <!--<a href="landing.html">𝓑𝓮𝓼𝓽𝓡𝓲𝓼𝓱𝓽𝓮𝔂</a>-->
       <%= link_to '𝓑𝓮𝓼𝓽𝓡𝓲𝓼𝓱𝓽𝓮𝔂', root_path, class: '' %>
    </span>
    <p>A trusted platform for your perfect match.</p>
  </section>




  
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!--Bootstrap bundle with popper-->
  <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script> -->


</body>

</html>